[data-state='app'] {
  .app {
    .wrapper {
      &__image {
        z-index: -999;
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0.4;
      }

      .header {
        background-color: $light-blue;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        width: 100%;
        height: $header-height;
        z-index: 999;

        &--text {
          color: $clouds;
          font-size: 2.5rem;
          line-height: 2.5rem;
          margin-left: 3rem;
        }
      }

      .nav {
        background-color: $light-blue;
        position: fixed;
        left: $nav-left;
        top: $header-height;
        bottom: $footer-height;
        width: $nav-width;
        margin: 1rem 0;
        z-index: 999;

        .list {
          color: $silver;
          list-style: none;

          &--item {
            padding: .5rem 1rem 0 1rem;
            font-size: 1.2rem;
            line-height: 3rem;
            border-bottom: 2px solid $dark-blue;

            &:hover {
              color: $clouds;
              cursor: pointer;
            }

            &.selected {
              color: $clouds;
            }
          }
        }
      }

      .main {
        margin-top: $header-height;
        margin-right: $wrapper-margin;
        margin-bottom: $footer-height;
        margin-left: calc(5% + 300px);

        .content {
          padding: 1rem 1rem 1rem 2rem;

          &__navigation {
            display: flex;
            align-items: center;
            height: 2rem;
            user-select: none;

            &--top {
              justify-content: flex-start;
            }

            &--bottom {
              justify-content: flex-end;
            }

            .icon {
              height: 100%;
              width: 2rem;
              position: relative;

              &:hover {
                cursor: pointer;
                background-color: $clouds;
              }

              &--left {

              }

              &--right {

              }

              &.disabled {
                opacity: 0;
                pointer-events: none;
              }

              img {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);;
              }
            }

            .pages {
              display: flex;
              justify-content: center;
              width: 5rem;
              font-size: 1rem;
              line-height: 2rem;
            }
          }

          &__container {
            padding: 1rem 0;

            h1 {
              font-size: 2rem;
            }
            h2 {
              font-size: 1.8rem;
            }
            h3 {
              font-size: 1.6rem;
            }
            h4 {
              font-size: 1.4rem;
            }
            h5 {
              font-size: 1.2rem;
            }
            h6 {
              font-size: 1rem;
            }

            h1, h2, h3, h4, h5, h6 {
              color: $dark-blue;
              margin-bottom: .5rem;
            }

            p, span, li, div, ul {
              font-size: .8rem;
            }

            p {
              margin: 1rem 0;
            }

            .mark {
              display: block;
              background-color: $light-grey;
            }

            .text-center {
              text-align: center;
            }

            .padding {
              padding: 1rem;

              &--ver {
                padding: 1rem 0;
              }

              &--hor {
                padding: 0 1rem;
              }
            }

            .margin {
              margin: 1rem;

              &--ver {
                margin: 1rem 0;
              }

              &--hor {
                margin: 0 1rem;
              }
            }

            ul {
              padding: 1rem;
              list-style: disc;

              &.no-padding {
                padding: 0;
              }

              .caption {
                font-style: italic;

                &--blue {
                  color: $light-blue;
                }
              }

              li {
                margin-left: 1rem;
              }

              ul {
                list-style: circle;
              }
            }

            a {
              color: $light-blue;

              &:visited {
                color: $dark-blue;
              }

              &:hover {
                color: $silver;
              }
            }

            .table {
              background-color: $bleed-blue;
              padding: 1rem;
              margin: .5rem 0;

              table {
                border: 0;
                border-collapse: collapse;


                thead {
                  color: $dark-blue;
                  font-style: italic;
                }

                tbody {

                }

                tfoot {
                  font-style: italic;
                }
              }
            }
          }
        }
      }

      .footer {
        background-color: $light-blue;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: $footer-height;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &--text {
          color: $clouds;
          margin-right: 2rem;
        }
      }
    }
  }
}

@import 'content/content';
